.game_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* アスペクト比を保ちながら画面を覆う */
    z-index: 10; /* 他のコンテンツの背後に配置 */
}

.time-container {
    margin-top: 260px;
    margin-left: 100px;
    display: flex;
}

.time {
    margin: .6rem;
    background-color: rgb(235, 155, 255);
    border-radius: 1rem;
    padding: 3rem;
    z-index: 80;
}

#min,#sec {
    font-size: 3rem;
    margin-right: 1rem;
}

.help_img {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    z-index: 70;
    position: relative;
}

.submit-content {
    display: flex;
}

.submit-content h1{
    margin-top: 45px;
}

.submit_button {
    margin-top: 100px;
    margin-right: 180px;
    float: right;
    cursor: pointer;
    z-index: 60;
    position: relative;
}
/* #Slitherlink {
    position: fixed;
    top: 15%;
    left: 7.5%;
    width: 75vh;
    height: 75vh;
    z-index: 60;
} */
#Slitherlink {
    margin-top: 130px;
    margin-left: 40px;
    margin-right: 60px;
    width: 70vh;
    float: right;
    cursor: pointer;
    z-index: 60;
    position: relative;
}

.main_page {
    display: flex;
}

.left {
    flex-grow: 1;
    z-index: 60;
}

.right {
    flex-grow: 1;
}

/* カウントダウン終了した後のポップアップ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* 初期状態は非表示 */
    z-index: 90;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none; /* 初期状態は非表示 */
    z-index: 100;
    text-align: center;
}

.popup h2 {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #6342bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ポップアップの基本スタイル */
.helpPopup {
    display: none; /* 最初は非表示 */
    position: fixed;
    z-index: 100; /* ポップアップを他の要素の上に表示 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* ポップアップ内のコンテンツ */
.helpPopup-content {
    text-align: left;
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.correctPopup {
    display: none; /* 最初は非表示 */
    position: fixed;
    z-index: 100; /* ポップアップを他の要素の上に表示 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.incorrectPopup {
    display: none; /* 最初は非表示 */
    position: fixed;
    z-index: 100; /* ポップアップを他の要素の上に表示 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.button-content {
    margin-top: 20px;
    text-align: center;
}

.button-content button {
    margin-right: 20px;
}
